<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"><i class=" fas fa-chart-pie"></i> Thống kê</a>
                    </li>
                         <li class="nav-divider">
                        Hóa đơn
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-7" aria-controls="submenu-7"><i class=" fas fa-clipboard-check"></i>Hóa đơn</a>
                        <div id="submenu-7" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/unapprove">Chưa duyệt</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/orders">Đã duyệt</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-divider">
                        Sản phẩm
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-6" aria-controls="submenu-6"><i class=" fas fa-cube"></i>Loại sản phẩm </a>
                        <div id="submenu-6" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/categories/new">Thêm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/categories/">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-8" aria-controls="submenu-8"><i class=" fas fa-laptop"></i>Sản phẩm<span class="badge badge-secondary">New</span></a>
                        <div id="submenu-8" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/products/new">Thêm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/products/">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-11" aria-controls="submenu-11"><i class="fas fa-tags"></i>Mã khuyến mãi<span class="badge badge-secondary">New</span></a>
                        <div id="submenu-11" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/discounts/new">Thêm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/discounts/">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    </li>
                         <li class="nav-divider">
                         Người dùng
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9">
                        <i class="fas fa-user-plus"></i>Nhân viên</a>
                         <div id="submenu-9" class="collapse submenu" style="">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/users/new">Thêm</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/admin/users">Danh sách</a>
                                </li>
                            </ul>
                        </div>
                        <a class="nav-link" href='/admin/customers'><i class=" fas fa-users"></i>Khách hàng</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>