<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/jquery-1.11.1.min.js"></script>
<style type="text/css">.table&amp;amp;gt;tbody&amp;amp;gt;tr&amp;amp;gt;td, .table&amp;amp;gt;tfoot&amp;amp;gt;tr&amp;amp;gt;td {  
vertical-align: middle;
}
 
@media screen and (max-width: 600px) { 
table#cart tbody td .form-control { 
width:20%; 
display: inline !important;
} 
 
.actions .btn { 
width:36%; 
margin:1.5em 0;
} 
 
.actions .btn-info { 
float:left;
} 
 
.actions .btn-danger { 
float:right;
} 
 
table#cart thead {
display: none;
} 
 
table#cart tbody td {
display: block;
padding: .6rem;
min-width:320px;
} 
 
table#cart tbody tr td:first-child {
background: #333;
color: #fff;
} 
 
table#cart tbody td:before { 
content: attr(data-th);
font-weight: bold; 
display: inline-block;
width: 8rem;
} 
 
table#cart tfoot td {
display:block;
} 
table#cart tfoot td .btn {
display:block;
}
}</style>
</style>

<head>

</head>

<body>
    <h2 class="text-center">CARTS</h2>
<div class="container"> 
 <table id="cart" class="table table-hover table-condensed"> 
  <thead> 
   <tr> 
    <th style="width:10%">Tên sản phẩm</th> 
    <th style="width:5%">Giá</th> 
    <th style="width:5%">Số lượng</th> 
    <th style="width:10%" class="text-center">Thành tiền</th> 
    <th style="width:10%"> </th> 
   </tr> 
  </thead> 
  <tbody>
    <% i = 0 %>
    <% @carts.each do |cart| %>
    <tr> 
       <td data-th="Product"> 
        <div class="row"> 
         <div class="col-sm-10"> 
          <h4 class="nomargin"><%= @product_name[i] %></h4> 
         </div> 
        </div> 
       </td> 
       <td data-th="Price">200.000 đ</td> 
       <td data-th="Quantity"><input class="form-control text-center" value="1" type="number">
       </td> 
       <td data-th="Subtotal" class="text-center">200.000 đ</td> 
       <td class="actions" data-th="">
        <button class="btn btn-info btn-sm"><i class="fa fa-edit"></i>
        </button> 
        <button class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i>
        </button>
       </td>
       <% i += 1 %>
    </tr> 
    <% end %>
  </tfoot> 
 </table>
</div>

</body>
</html>