<div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top">
        <a class="navbar-brand" href="/">Ecommerce</a>
        <%= form_for( '' ) do |f|%>
            <div class='form-group mt-3'>
                <div class="input-group mb-3">
                    <%= text_field (:search), 'search', class: 'form-control form-control-sm'%>
                    <button class='btn btn-primary btn-sm'>
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        <% end %>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right-top mr-2">
                <% if @current_user.nil? %>
                    <li class="nav-item">
                        <a class="text-dark" href="/register" >
                            Đăng ký
                        </a>
                    </li> | 
                    <li class="nav-item">
                        <a class="text-dark" href="/login" >
                            Đăng nhập
                        </a>
                    </li>
                <% else %>
                    <li class="nav-item mx-2">
                        <a class="text-dark" href="#" >
                            Xin chào, <%= @current_user.full_name %>
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                       <%= link_to '', logout_path, method: :delete ,
                        data: { confirm: "Xác nhận đăng xuất ?" }, class: 'fas fa-sign-out-alt'%>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>
</div>